<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="bg-info">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default navbar-static-top">
    <div class="container-fluid">
      <p class="navbar-brand xd" href="#">Sistema Recomendador G-4</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="/login">Logout</a>
          </li>
        </ul>
        <form class="d-flex" action="/busqueda" method="POST">
          <input id="itemName" name="itemName" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <input id='botonBusqueda' class="btn btn-outline-success" type="submit" value='Search'></button>
        </form>
      </div>
    </div>
  </nav>
    </header>
    <!-- <div class="container">
      <form action="/busqueda" method="POST" class='row'>
        <div class="row bg-success align-middle">
          <div class="col">
            <input type="text" id="itemName" name="itemName" class='form-control'>
          </div>
          <div class="col">
            <input type='submit' id='botonBusqueda' value='Buscar' class='btn-secondary btn-lg btn-block active'>
          </div>
        </div>
      </form>
    </div> -->
    <div class="row m-4" id="mainContent">
      <aside class="float-left bg-warning col-2">
        <div class="container">
          <form action="/misfavoritos" method="POST" class='row'>
            <input type="submit" value="My Favorites" class='btn-lg btn-block btn-primary mt-10'>
          </form>
          <form action="/recomendaciones" method="POST" class='row'>
            <input type="submit" value="Generar Recomendaciones" class='btn-lg btn-block btn-primary mt-9'>
          </form>
          <form action="/recomendacionIndv" method="POST" class='row'>
            <input type="submit" value="Generar Recomendacion Individual" class='btn-lg btn-block btn-primary mt-9'>
          </form>
        </div>
      </aside>
      <section class="float-right bg-primary col-10">
        <div class="container-fluid" id="displayZone">
          {% block content %}{% endblock %}
        </div>
      </section>
    </div>
  </body>
</html>